<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
    var message = '<%= message %>';          
    if(message!="") 
    {  
      alert('error: ' + message);
    }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/library/createLibrary">Create Library</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/book/createBook">Create Book</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/book/listAllBook">List all Book</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/borrow">Borrow Book</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/borrow/searchStudentID">Return Book</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-heading">
        <h1>Create a new book</h1>
    </div>
    <form action="/book/createBook" method="POST" enctype="multipart/form-data">
        <table class=”control-group”>
            <tr class="form-group floating-label-form-group controls">
                <td><label>Book Name</label></td>
                <td><input type="text" class="form-control" id="bookName" name="bookName"></td>
            </tr>
            <tr class="form-group floating-label-form-group controls">
                <td><label>Price</label></td>
                <td><input type="number" class="form-control" id="price" name="price"></td>
            </tr>
            <tr class="form-group floating-label-form-group controls">
                <td><label>Library Name</label></td>
                <!-- <td><input type="text" class="form-control" id="libraryID" name="libraryID"></td> -->
                <td>
                    <select class="libraryID" data-style="btn-info" name="libraryID">
                        <optgroup label="Select Library">
                            <% libraris.forEach(function(library){ %>
                                <option value="<%= library.id %>">
                                    <%= library.libraryName %>
                                </option>
                                <% }) %>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr class="form-group floating-label-form-group controls">
                <td><label>Quantity</label></td>
                <td><input type="number" class="form-control" id="quantity" name="quantity"></td>
            </tr>
            <tr class="form-group floating-label-form-group controls">
                <td><label>Author</label></td>
                <td><input type="text" class="form-control" id="author" name="author"></td>
            </tr>
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</body>