<!DOCTYPE html>
<html lang="en">

<head>
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/library/createLibrary">Create Library</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/book/createBook">Create Book</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/book/listAllBook">List all Book</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/borrow">Borrow Book</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="http://localhost:3000/borrow/searchStudentID">Return Book</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-heading">
        <h1>search Student was borrow book</h1>
    </div>
    <form action="/borrow/returnBook" method="POST" enctype="multipart/form-data">
        <table class=”control-group”>
            <tr class="form-group floating-label-form-group controls">
                <td><label>Student ID</label></td>
                <td><input type="number" class="form-control" id="studentID" name="studentID"></td>
            </tr>
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search Student</button>
        </div>
    </form>
</body>